body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body takes at least the height of the viewport */
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8; /* Set a background color if needed */
    text-align: center;
    padding: 10px;
}
